*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.review{
    width: 712px;
    height: 134px;
}
main {
 
}
.avatar {
    border-radius: 32px;
    width: 47.67px;
    height: 48px;
}
.info{
    width: 653.4px;

}
.name{
    width: 139px;
    margin-top: 3px;
    size: 14px;
}
.date{
    width: 95px;
}
.text{
    width: 653px;
}